
@{
    ViewData["Title"] = "Index";
}
@model UserInformationViewModel

<h4>Kullanıcı Profili</h4>

<p> <strong class="text-success"  >Kullanıcı Adı:</strong> @Model.UserName</p>
<p> <strong class="text-success">Email:</strong> @Model.Email</p>
<p> <strong class="text-success">Telefon Numarası: </strong>@Model.phoneNumber</p>

 
            
           
     

            
      
          

