
@{
    ViewData["Title"] = "PasswordChange";
}

@model PasswordChangeViewModel

<!--
    Bu işlem ile view modeldaki validationlar buton clicklenmeden yani backend gitmeden client taraflı  çalışır!
    Burada _ValidationScriptsPartia partial viewi ekrana yükleniyor bundanda temel validation işlemlerinin tutulduğu
    scriptlar var.

-->
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">


    <div class="col-md-6 offset-md-3">
        @* Ekran 12'ye bölünür 6 lık kısım kullanılır sağdan ve soldan 3 birim boşluk bırakır *@
        <h2 class="col-md-4 offset-md-4">Şifre Yenileme</h2> <br />

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]

            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>



        <form asp-controller="Member" asp-action="PasswordChange" method="post">
          
           


            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordOld" class="form-control">
                    <span asp-validation-for="PasswordOld" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNew" class="form-control">
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Onayla</button>
        </form>
    </div>
</div>

