
@{
    ViewData["Title"] = "PersonFromKarabuk";
}

<h1>Karabük Şehri</h1>
@*
    Bu sayfa claim bazlı yetkilendirme yaptım kullanıcının memleketi karabük ise bu sayfayı görüntüleyebilir.
*@
<p>
    Karabük, Türkiye’nin Karadeniz Bölgesi'nde yer alan sanayi kenti olarak bilinir. 1937 yılında demir-çelik 
    fabrikalarının kurulmasıyla hızla gelişmiş, Türkiye’nin ilk ağır sanayi merkezi olmuştur. Bartın ve Kastamonu’ya 
    komşu olan Karabük, doğal güzellikleri ve tarihi yapılarıyla da dikkat çeker. Safranbolu ilçesi, UNESCO Dünya Mirası
    Listesi'nde yer alır ve Osmanlı döneminden kalma ahşap evleriyle ünlüdür. İncekaya Su Kemeri, Tokatlı Kanyonu ve Bulak
    Mağarası, kentin turistik noktalarındandır. Ayrıca Karabük Üniversitesi, şehirde eğitim alanında büyük bir gelişim 
    sağlamış, bölgenin çekim merkezi olmasına katkıda bulunmuştur.
</p>