
@{
    ViewData["Title"] = "ResetPassword";
}

@model ForgetPasswordViewModel



<div class="row">
	<div class="col-md-4 offset-md-4">
		<h5>Şifre yenileme linki e-posta adresinize gönderilecektir.</h5><br />


		<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

		<!-- eğer Authorize olmuş bir sayfaya gidilmek istendiyse asp-route-returnUrl kodu ile bu sayfaya yönlenilir yani
			url null değilse bu sayfaya gider eğer null ise controllerda belirnenen sayfaya gider çünkü orada bunun olmasını
			sağlayan kodu yazdık

		-->
		<form asp-controller="Home" asp-action="ForgetPassword" method="post">
			<div class="form-group">

				<input class="form-control" asp-for="Email" placeholder="Mail Adresi">
				<span class="text-danger" asp-validation-for="Email"></span>
			</div><br />

			<button type="submit" class="btn btn-primary">Gönder</button>
		</form>
	</div>
</div>



