
@{
    ViewData["Title"] = "ResetPassword";
}
@model ResetPasswordViewModel
<div class="row">


    <div class="col-md-6 offset-md-3">
        @* Ekran 12'ye bölünür 6 lık kısım kullanılır sağdan ve soldan 3 birim boşluk bırakır *@
        <h2 class="col-md-4 offset-md-4">Şifre Sıfırlama</h2> <br />

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]

            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>



        <form asp-controller="home" asp-action="ResetPassword" method="post">
              

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>
                <div class="col-md-8">
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Sıfırla</button>
        </form>
    </div>
</div>

