
@{
    ViewData["Title"] = "SignUp";
}

@model SignUpViewModel

<!--
    Bu işlem ile view modeldaki validationlar buton clicklenmeden yani backend gitmeden client taraflı  çalışır! 
    Burada _ValidationScriptsPartia partial viewi ekrana yükleniyor bundanda temel validation işlemlerinin tutulduğu
    scriptlar var.

-->
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">


<div class="col-md-6 offset-md-3" > @* Ekran 12'ye bölünür 6 lık kısım kullanılır sağdan ve soldan 3 birim boşluk bırakır *@
     <h2 class="col-md-4 offset-md-4">Kayıt ol</h2> <br />

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
                
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                        
        </div>



        <form asp-controller="home" asp-action="SignUp" method="post">
            <div class="row mb-3">
                <label for="UserName" class="col-md-4 col-form-label" asp-for="UserName"></label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PhoneNumber" class="col-md-4 col-form-label" asp-for="PhoneNumber"></label>
                <div class="col-md-8">
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>
                <div class="col-md-8">
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
	</form>
	</div>
</div>